{{!-- --}}
{{!-- --}}
<div class="container mt-4">
    <div class="row">
        {{#each allStory}}
        <div class="col-md-4 m-1">
            <div class="card">
                <div class="text-center">
                    <img src="{{user.image}}" alt="image user" class="img-thumbnail img">
                    <a href="/stories/user/{{user._id}}">
                        {{user.displayName}}
                    </a>
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <h5 class="text-center fw-bold">{{title}}</h5>
                        <p>{{body}}</p>
                        <a href="/stories/{{_id}}" class="btn btn-success">Read More</a>
                        <footer class="blockquote-footer text-end">{{timeago createdAt}}</footer>
                    </blockquote>
                </div>
            </div>
        </div>
        {{else}}
        <div class="card mx-auto bg-warning">
            <div class="card-body">
                <p class="lead text-center">There are not stories public yet.</p>
            </div>
        </div>
        {{/each}}
    </div>
</div>