{{!-- --}}
{{!-- --}}
<div class="container mt-4">
    <div class="row">
        {{#each allStory}}
        <div class="col-md-4 mb-1">
            <div class="card pt-3">
                <a href="/stories/user/{{user._id}}" class="mx-auto text-decoration-none">
                    {{user.displayName}}
                </a>
                <img src="{{user.image}}" alt="image user" class="img-thumbnail img mx-auto">
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <h5 class="text-center fw-bold">{{title}}</h5>
                        <p>{{ stripTags (truncate body 150)}}</p>
                        <a href="/stories/{{_id}}" class="btn btn-success">Read More</a>
                        <footer class="blockquote-footer text-end">{{timeago createdAt}}</footer>
                    </blockquote>
                </div>
            </div>
        </div>
        {{else}}
        <div class="card mx-auto bg-warning">
            <div class="card-body">
                <p class="lead text-center">There are not stories public yet.</p>
            </div>
        </div>
        {{/each}}
    </div>
</div>